/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

:root {
  --text: #444;
  --light: #777;
  --link: #e74c3c;
  --white: #fafbfc;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--text);
  background-color: #fafbfc;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
}

a {
  color: var(--link);
  text-decoration: none;
  border: none;
}

a:hover {
  color: var(--light);
  border: none;
}

a img {
  outline: none;
}

.separator {
  color: var(--light);
}

/*****************************************************************************/
/*
/* Home
/*
/****************************************************************************/
#logo {
  max-width: 200px;
}

nav a {
  background: none;
  text-decoration: none;
}

nav a:hover {
  color: var(--light);
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  text-align: center;
  line-height: 1.75em;
  /* max-width: 900px; */
  padding: 10px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

nav {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
  /* display: inline-block; */
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}

#cover-photo-container, #info-container {
  display: block;
  width: 100%;
}

#cover-photo {
  object-fit: cover;
  padding-bottom: 8em;
  padding-top: 10px;
  padding-left: 0em;
  margin-left: -1em;
  margin-right: 0;
}

#info-container {
  margin-top: 3em;
  margin-right: 1em;
}

#title {
  font: 3em "IBM Plex Mono", monospace;
  font-weight: 400;
  color: var(--text);
  margin-left: 0;
  margin-top: -4.2em;
  position: relative;
  padding-bottom: 10px;
  color: var(--white);
  /* width: 30%; */
}

#title span {
  background-color: black;
  padding: 0px 10px;
  background-clip: padding-box;
}

.post {
  line-height: 24px;
  max-width: 1100px;
  margin-right: 1.5em;
  clear: both;
}

.post h1 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
  border-bottom: 1px solid #333;
	border-left: 8px solid #333;
  padding-left: 0.5em;
  padding-top: 0.25em;
}

.post h3 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
}

.post blockquote {
  max-width: 70%;
  padding: 10px 10px;
  margin-bottom: 1.45em;
  background-color: #ddd;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.95rem;
}

#about a {
  color: var(--link);
}

.post a:hover {
  border: none;
  color: #444 ;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.95rem;
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul, .post ol {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.95rem;
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

code {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  color: #9b314f;
  border: 1px solid #ccc;
  padding: 1px 3px;
  border-radius: 3px;
}

.post code {
/*border: 1px solid #ddd;*/
/*background-color: #eef;*/
  padding: 0 .2em;
  font-size: 14px;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 19%;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid #e7e7e7;
}

.content {
  padding-left: 2.125em;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.nav-link {
  margin-bottom: 0.75em;
}

.nav-link a {
  color: var(--text);
}

.nav-link a.active {
  color: var(--light);
}

.nav-link a {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

.post-date {
  color: #FFFFFF;
  font-family: Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 0.65em;
  display: None;
  text-transform: uppercase;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

#im {
  width: 250px ;
	padding: 10px;
	/*text-align: center;*/
	margin: 1em;
	display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

#im img {
  border: 1px solid #000000;
  max-width: 200px;
}

table {
	/* max-width: 80%; */
	margin: 10px;
	border-collapse: collapse;
}

th {
	text-align: center;
	background-color: #333;
  color: var(--white);
	padding: 5px 10px;
}

tr {
	-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
	-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

td {
	padding: 5px 10px;
	max-width: 1000px;
}

th, td {
  border: 1px solid #333;
}
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: var(--light);
}
